<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="/manifest" href="manifest.json">
    <title>Analyze</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/styles/cm-chessboard.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
<%- include('header') %>
<h2>Analyze Game</h2>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<div id="board"></div>
<div class="row">
    <div class="col-4">
        <button class="btn btn-dark" id="but-prev" ><i class="bi bi-arrow-left"></i></button>
        <button class="btn btn-dark" id="but-next" ><i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="col-4">

    </div>
    <div class="col-4">
        <div id="score" class="alert alert-primary" role="alert">
        </div>

    </div>
</div>
<script type="module">
    import {Chessboard} from "/js/Chessboard.js"

    var board = new Chessboard(document.getElementById("board"), {
        position: "start",
        sprite: {url: "/assets/images/chessboard-sprite-staunty.svg"},
        style: {
            aspectRatio: 0.9
        }
    })
    var fens = <%- JSON.stringify(fens)  %>;
    var scores = <%- JSON.stringify(scores)  %>;
    var max = fens.length-1;
    var index = max;
    board.setPosition(fens[max]);
    document.getElementById('score').innerText = scores[max]
    

    function decrementIndex() {
        if(index > 0) {
            index -= 1;
            board.setPosition(fens[index]);
            document.getElementById('score').innerText = scores[index]
        }
    }
    function incrementIndex() {
        if (index < max) {
            index += 1;
            board.setPosition(fens[index]);
            document.getElementById('score').innerText = scores[index]
        }
    }

    document.getElementById("but-prev").onclick = decrementIndex;
    document.getElementById("but-next").onclick = incrementIndex;

</script>

</body>
</html>
