<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <div class="container-fluid">
      <a class="active" href="/">
      <i class="bi bi-house-fill icon-white"></i>
      </a>
        <form action="/game/new" method="post">
            <button class="btn btn-dark"><i class="bi bi-plus-circle-fill"></i></button>
        </form>
    <!-- <script type="module" src="/js/app.js"></script> -->
  </div>
</nav>
